<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Veloz</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/flat-ui/docs/assets/css/demo.css"/>
</head>

<body>
<div class="container">
    <div class="login">
        <div class="login-screen">
            <div class="login-icon">
                <img src="bower_components/flat-ui/img/login/icon.png" alt="Welcome to Mail App">
                <h4>Bienvenido a
                    <small>Librería Veloz</small>
                </h4>
            </div>
            <div class="login-form">
                <div class="alert alert-danger" ng-show="controller.error">
                    There was a problem logging in. Please try again.
                </div>
                <form role="form" ng-submit="controller.login()">
                    <div class="form-group">
                        <input id="username" name="username" ng-model="controller.credentials.username"
                               class="form-control login-field" placeholder="Ingrese su usuario" type="text">
                        <label class="login-field-icon fui-user" for="username"></label>
                    </div>

                    <div class="form-group">
                        <input id="password" name="password" ng-model="controller.credentials.password"
                               class="form-control login-field" placeholder="Ingrese su contraseña" type="password">
                        <label class="login-field-icon fui-lock" for="password"></label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                    <a class="btn btn-default btn-lg btn-block" href="#">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>

<style>
    body {
        background-image: url(img/nub.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-family: 'PT Sans', Helvetica, Arial, sans-serif;
        text-align: center;
    }
</style>
