/veloz/target/
/printerJosmarl/nbproject/private/
/printerJosmarl/build/
/printerJosmarl/dist/
/printTest/nbproject/private/
/printTest/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
