<h3>{{headingTitle}}</h3>
<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <label>Cant.</label>
            <input type="number" class="form-control" placeholder="Cant." ng-model="cantidad">
        </div>
        <div class="col-md-9">
            <label>Producto:</label>
            <angucomplete id="ex3"
                          placeholder="Buscar producto..."
                          pause="100"
                          selectedobject="prod"
                          localdata="productos"
                          searchfields="nombre"
                          titlefield="nombre,marca"
                          descriptionfield="descripcion"
                          minlength="1"
                          inputclass="form-control form-control-small"
                          class="ng-isolate-scope"/>
        </div>
        <div class="col-md-1">
            <label>Opt.</label><br>
            <button type="button" class="btn btn-primary btn-embossed" ng-click="agregar()"><i
                    class="glyphicon glyphicon-floppy-disk"></i>
            </button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Cant.</th>
            <th>Producto</th>
            <th>Elim.</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="det in detalles">
            <td>{{$index +1}}</td>
            <td>{{det.cantidad}}</td>
            <td>{{det.producto.nombre}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteDetalle(det)"><i
                        class="glyphicon glyphicon-remove"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary btn-embossed" ng-click="seleccionarNroDoc()" ng-disabled="validarDetalleAlmacen()">
        Guardar
        Almacén
    </button>
</div>


<div class="container">
    <div id="seleccionarNroDocModal" class="modal fade" role='dialog'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmación </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Ingrese nro de documento:</label>
                        <input type="text" class="form-control" ng-model="nroDoc"
                               placeholder="Ejm: 001-02132">
                    </div>
                    <div class="form-group">
                        <label>Cliente Proveedor: </label>
                        <angucomplete id="ex4"
                                      placeholder="Ingrese nombre del cliente proveedor..."
                                      pause="100"
                                      selectedobject="cliente"
                                      localdata="clientes"
                                      searchfields="razonSocial"
                                      titlefield="razonSocial"
                                      descriptionfield="razonSocial"
                                      minlength="1"
                                      inputclass="form-control form-control-small"
                                      class="ng-isolate-scope"
                                      required="true"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="guardarButton" ng-disabled="validarAlmacen()" ng-click="guardarAlmacen()"
                            class="btn btn-danger"><i
                            class="glyphicon glyphicon-trash"></i>&nbsp;Guardar
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                            class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>