<div class="container">
    <h3>{{headingTitle}}</h3>
    <a href="#/medida/new/" class="btn btn-primary btn-embossed"><i class="glyphicon glyphicon-plus"></i>&nbsp;Nueva
        Unidad de Medida</a>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Descripcion</th>
            <th>Opciones</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="medida in medidas">
            <td>{{$index+1}}</td>
            <td>{{medida.nombre}}</td>
            <td>{{medida.cantidad}}</td>
            <td>{{medida.descripcion}}</td>
            <td>
                <div class="btn-group">
                    <a ng-href="#/medida/edit/{{medida.id}}" class="btn btn-sm btn-success btn-primary"
                       data-toggle="tooltip" title="Editar Unidad de Medida">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ng-click="confirmDeleteModalMedida(medida.id)" class="btn btn-sm btn-danger btn-primary"
                       data-toggle="tooltip" title="Eliminar Unidad de Medida">
                        <span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="deleteModal" class="modal fade" role='dialog'>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Eliminar </h4>
                </div>
                <div class="modal-body">
                    <p>Realmente quiere Eliminar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="deleteButton" class="btn btn-danger"><i
                            class="glyphicon glyphicon-trash"></i>&nbsp;Eliminar
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                            class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>