<h3>{{headingTitle}}</h3>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label>Cliente: </label>
            <input type="text" class="form-control" placeholder="Ingrese nombre del cliente...">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1">
            <label>Cant.</label>
            <input type="text" class="form-control" placeholder="Cant." ng-model="cantidad">
        </div>
        <div class="col-md-10">
            <label>Producto:</label>
            <select class="form-control" ng-model="prod" ng-options="producto.nombre for producto in productos">

            </select>
        </div>
        <div class="col-md-1">
            <label>Opt.</label><br>
            <button type="button" class="btn btn-primary btn-embossed" ng-click="agregar()"><i
                    class="glyphicon glyphicon-floppy-disk"></i>
            </button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Cant.</th>
            <th>Producto</th>
            <th>P.U</th>
            <th>Importe</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="det in detallesProducto">
            <td>{{$index +1}}</td>
            <td>{{det.cantidad}}</td>
            <td>{{det.producto.nombre}}</td>
            <td>{{det.producto.precioUnit}}</td>
            <td>{{det.importe}}</td>
        </tr>
        </tbody>
    </table>
</div>

