* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 10%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 90%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    padding: 7px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-weight: bold;
    text-align: center;
}

.menu li:hover {
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white;
    table-layout: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr {
    border: white 2.5px solid;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(odd) {
    background-color: rgba(0, 51, 50, 0.5);
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

caption {
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 51, 50, 0.5);
    color: black;
}
